<div id="unirse" class="bg-slate-950 py-24">
  <div class="mx-4 xl:mx-32">
    <div class="flex flex-col justify-center text-white">
      <p class="text-center text-5xl md:text-8xl font-bold uppercase">Unete Via</p>
      <div class="flex justify-center text-5xl md:text-8xl font-bold uppercase">
        <p
          class="text-transparent bg-clip-text bg-gradient-to-r from-blue-700 to-yellow-400"
        >
          Discord
        </p>
      </div>
      <p class="text-center py-8">Invierte y administra toda tu crypto en un solo lugar.</p>
      <div class="flex justify-center">
        <button class="bg-gradient-to-r from-blue-700 to-yellow-400 p-5 rounded-full font-semibold" type="button">Unirse Via Discord</button>
      </div>
    </div>
  </div>
</div>
