<div class="bg-slate-950 pt-16">
  <div class="mx-4 xl:mx-32">
    <div class="text-5xl md:text-8xl uppercase font-semibold py-8 flex justify-center">
      <p
        class="text-transparent bg-clip-text bg-gradient-to-r from-blue-700 to-yellow-400"
      >
        Elegirnos
      </p>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 pt-8">
      <div class="text-white bg-slate-800 px-3 rounded-lg text-center">
        <p class="text-3xl font-bold py-2">Conecta tu wallet</p>
        <p class="pb-2">Usa Trust Wallet o Metamask para conectarte a la app.</p>
      </div>
      <div class="text-white bg-slate-800 px-3 rounded-lg text-center">
        <p class="text-3xl font-bold py-2">Recibe tus NFT's</p>
        <p class="pb-2">Invierte toda tu crypto en un solo lugar en una sola plataforma.</p>
      </div>
      <div class="text-white bg-slate-800 px-3 rounded-lg text-center">
        <p class="text-3xl font-bold py-2">Selecciona la cantidad</p>
        <p class="pb-2">Sube tu crypto, ponle un título, descripción y precio.</p>
      </div>
      <div class="text-white bg-slate-800 px-3 rounded-lg text-center">
        <p class="text-3xl font-bold py-2">Elige un mercado</p>
        <p class="pb-2">Descubre y recolecta la colección crypto correcta para comprar o vender.</p>
      </div>
      <div class="text-white bg-slate-800 px-3 rounded-lg text-center">
        <p class="text-3xl font-bold py-2">Confirma la transacción</p>
        <p class="pb-2">Gana vendiendo tu crypto en nuestro marketplace.</p>
      </div>
      <div class="text-white bg-slate-800 px-3 rounded-lg text-center">
        <p class="text-3xl font-bold py-2">Impulse su colección</p>
        <p class="pb-2">Lo hacemos fácil para que descubras, inviertas y administres.</p>
      </div>
    </div>
  </div>
</div>
