<footer class="bg-slate-950 text-white">
    <div class="w-full p-4 py-6 lg:py-8">
      <hr class="my-6 border-gray-200 sm:mx-auto lg:my-8" />
      <div class="sm:flex sm:items-center sm:justify-between">
        <p class="text-sm  sm:text-center">
          © 2023 Copyright. All Rights Reserved.
        </p>
        <div class="flex mt-4 space-x-6 sm:justify-center sm:mt-0">
          <a
            href="#"
            class=""
          >
            <ng-icon name="bootstrapDiscord"></ng-icon>
            <span class="sr-only">Discord</span>
          </a>
          <a
            href="#"
            class=""
          >
            <ng-icon name="bootstrapTwitter"></ng-icon>
            <span class="sr-only">Twitter</span>
          </a>
        </div>
      </div>
    </div>
  </footer>
  
